.slider {
    width: 100vw;
    height: 60%;
    position: absolute;
    left: 0;
    top: 29%;
    background-color: antiquewhite;
    z-index: -999;
}

.img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 15vw;
    object-fit: contain;
    margin-left: -20vw;
}

.flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
}

@keyframes plus {


    0% {
        transform: translateY(0);
        background-color: black;
        color: aliceblue;
    }

    50% {
        transform: translateY(-10px);
        background-color: white;
        color: black;
    }

    100% {
        transform: translateY(0);
        background-color: black;
        color: aliceblue;
    }


}

.animateButton {
    animation: plus 1s ease infinite;
    -webkit-animation: plus 1s ease infinite;
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;

}