* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	
}
:root {
	--main-color: #065a82;
	--text-color: #232323;
	--secondary-color: #0797b0;
}
.cards{
    display: flex;
    flex-direction: column;
	position: relative;
	top:30rem;
}
.btn {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
main {
	width: 80%;
	margin: auto;
	padding: 2rem 0;
}

.title {
	margin: 2rem 0;
	text-align: center;
	font-weight: bold;
}

.products {
	display: flex;
	align-items: flex-start; 
	justify-content: space-between; 
	flex-wrap: wrap;
	width: 100%;
}


.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	height: 550px;
	flex-basis: 25%;
	padding: 10px;
	border: 4px solid #fff;
	background-color: #eee;
	position: relative;
	overflow: hidden;
	height :30rem;
}
.product-image {
	width: 100%;
	height: 55%;
	object-fit: contain;
	background-color: #fff;
}
.product-name {
	margin-top: 10px;
}
.product .product-name,
.product .product-price {
	color: var(--text-color);
}

.rating {
	display: flex;
}

.star {
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
}

.starEmpty,
.starFull {
	font-size: 1.2rem;
	position: absolute;
	overflow: hidden;
	color: var(--secondary-color);
}

.product-price {
	margin: 10px 0;
	justify-self: flex-end;
}

.buttons {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #00000044;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.product:hover .buttons {
	opacity: 1;
}
.buttons .btn {
	background-color: #dddddd;
	padding: 10px 20px;
	width: 50%;
	font-size: 1rem;
	border-radius: 3px;
}

.buttons .btn:hover {
	background-color: var(--main-color);
	color: #fff;
}