/* .icon {
    color: #121212;
    font-size: 25px;
    position: fixed;
    top: 15%;
    right: 2%;
} */

.shopping {
    position: relative;
    right: -90px;
    top: -30px;
    font-weight: bold;
    font-size: 20px;
}

.part2 {
    position: relative;
    left: -5%;
    top: -8%;
    z-index: 1;
}